nav .fa{
	display: none;
}

@media (max-width: 567px){
	.text-box h1{
		font-size: 45px;
	}
	.nav-links ul li{
		display: block;
	}
	.nav-links{
		position: absolute;
		background: #f44336;
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}
	nav.fa{
		display: block;
		color: #fff;
		margin: 10px;
		font-size: 22px;
		cursor: pointer;
	}
	.nav-links ul{
		padding: 30px;
	}
	.menu-toggle{
		display: flex;
	}
/* kodingan menu navbar colom */
	 .nav ul {
		position: absolute;
		right: 0;
		top:0;
		width: 75%;
		height: 100vh;
		justify-content: space-evenly;
		flex-direction: column;
		align-items: center;
		background-color: #f44336;
		z-index: -1;
		transform: translateX(100%);
	} 
}
